 
 ul{
 	margin:0px; padding: 0px;
 }
 
 ul li a{
 	text-decoration:none;
 	color:white;
 	display:block;
 }
 
 ul li{
 	float:right;
 	width: 100px;
 	height: 40px;
 	background-color:black;
 	color:white;
 	font-size:12px;
 	/*line-height:30px;*/
 	text-align:center;
 	opacity:.5;
 	/*border:1px solid white;*/
 }
 
 ul li a:hover{
 	background-color:orange;
 }
 
 #unutra{
 	display:none;
 	background-color:black;
 	float:right;
 	width: 100px;
 	height: 40px;
 	color:white;
 	font-size:12px;
 	line-height:30px;
 	text-align:center;
 	opacity:.5;
 	border:1px solid white;
 }
 
 ul li:hover #unutra{
 	display:inline-block;
 	background-color:black;
 	opacity:1;
 }